[submodule "apps/6-netdata/netdata"]
	path = apps/6-netdata/netdata
	url = https://github.com/netdata/helmchart.git
[submodule "ansible/kubespray"]
	path = ansible/kubespray
	url = https://github.com/kubernetes-sigs/kubespray.git
