---
resources:
  - apiVersion: v1
    kind: Secret
    metadata:
      name: kubernetes-internal-ca-key-pair
      namespace: cert-manager
    type: kubernetes.io/tls
    data:
      tls.crt: {{ .Values.issuerCert }}
      tls.key: {{ .Values.issuerKey }}
  - apiVersion: cert-manager.io/v1
    kind: ClusterIssuer
    metadata:
      name: internal
      namespace: cert-manager
    spec:
      ca:
        secretName: kubernetes-internal-ca-key-pair
