**/credentials
inventory/*/artifacts/
roles/geerlingguy.ntp
roles/geerlingguy.helm
kubespray
vagrant/config.rb
inventory/grigri-cluster/vagrant_ansible_inventory
inventory/grigri-cluster/artifacts_vagrant
.vagrant
